<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <provider android:authorities="com.wprotheus.pdm2atvpratica29jun2024" />
    </queries>

    <uses-permission android:name="com.wprotheus.pdm2atvpratica29jun2024.PERMISSION_READ" />
    <uses-permission android:name="com.wprotheus.pdm2atvpratica29jun2024.PERMISSION_WRITE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDM2AtvPratica29jun2024_parte2">
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:screenOrientation="userPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="userPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
    </application>
</manifest>